
@import "../../system/css/prefix.less";

.app-main {
	form {
		.display(flex);
		.flex-flow(row);
		.align-items(center);
		.justify-content(center);

		padding: 20px;

		& > .search {
			width: 500px;

			margin: 15px 0;
			padding: 0;

			background: 0;
			border: 0;
			outline: none;

			color: #393939;
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;

			-webkit-appearance: none;
			-webkit-user-select: text;
		}

		& > .search-button {
			-webkit-appearance: none;
			background-color: transparent;
			border: 0;

			font-size: 50px;
		}
	}
}